/* Page background */
.page {
  height: 100vh;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* Card */
.login-card {
  background-color: #0c2f5c;
  width: 500px;
  padding: 40px;
  border-radius: 40px;
  color: white;
  position: relative;
}

/* Logo */
.logo {
  position: absolute;
  top: 25px;
  left: 25px;
  background-color: white;
  color: #0c2f5c;
  font-weight: bold;
  padding: 12px 18px;
  border-radius: 50%;
  font-size: 14px;
}

/* Title */
.login-card h1 {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 500;
}

.login-card h1 span {
  color: #7b2cff;
}

/* Labels */
label {
  display: block;
  margin-top: 20px;
  margin-bottom: 8px;
  font-weight: 500;
}

/* Inputs */
input {
  width: 100%;
  padding: 12px;
  border-radius: 15px;
  border: none;
  background-color: #d9d9d9;
  outline: none;
  font-size: 14px;
}

/* Button */
button {
  display: block;
  margin: 30px auto 15px auto;
  padding: 10px 25px;
  border-radius: 20px;
  border: none;
  background-color: #3f8db5;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #2f6e8e;
}

/* Forgot password */
.forgot {
  text-align: right;
  font-size: 14px;
}

.forgot a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
